<head>
    <%- include("shared/head.ejs") %>
</head>

<main>
    <div class="con2">
        <h1>All databases</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                   
                    <th>Phone</th>
                    
                    <th>Mango Juices</th>
                    <th>Berry Juices</th>
                    <th>Apple Juices</th>
                    
                    <th>Net Amount</th>
                    <th>Tax Cost</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <% for(var order of orders){ %>
                    <tr>
                        <td>
                            <%= order.name %>
                        </td>
                       
                        <td>
                            <%= order.phone %>
                        </td>
                        
                        <td>
                            <%= order.product1 %>
                        </td>
                        <td>
                            <%= order.product2 %>
                        </td>
                        <td>
                            <%= order.product3 %>
                        </td>
                        
                        <td>
                            <%= order.grossAmt.toFixed(2) %>
                        </td>
                        <td>
                            <%= order.taxAmount.toFixed(2) %>
                        </td>
                        <td>
                            <%= order.totalCost.toFixed(2) %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</main>
<%- include("shared/footer.ejs")%>